body {
    background: url("../../assets/images/cut.jpeg");
    font-family: 'Montserrat',
    sans-serif;
}

#Jumbo {
    padding: 10px;
    border-style: double;
    background-color: rgba(185, 142, 89, 0.61);
    border-radius: 50px;
   font-family: 'Work Sans',
   sans-serif;
}

#holder {
    margin-top: 10px;
font-family: 'Montserrat',
sans-serif;
}

#info {
    margin-top: 10px;
     font-family: 'Montserrat',
     sans-serif;
}

#button-style {
    border-style: double;
    padding: 10px;
    background-color: rgba(236, 214, 186, 0.61);
    border-radius: 65px 20px 65px 10px;
}

#input-box {}

#item-form {}

#item-input {
    border-radius: 20px;
}
#clear-button {
    position: absolute;
    left: 22%;
    bottom: 76%;
    border-radius: 10px;
    -moz-box-shadow: 0px -3px 13px -9px rgb(122, 82, 34);
    -webkit-box-shadow: 0px -3px 13px -9px rgb(122, 82, 34);
    cursor: pointer;
    background-color: rgba(243, 236, 145, 0.329);
    color: #806d39;
}
#clear-button:hover {
    background-color: #9b988f60;
}


#add-item {
    margin-bottom: 10px;
    border-radius: 20px;
    
}




#add-item {
    -moz-box-shadow: 0px -3px 13px -9px rgb(122, 82, 34);
    -webkit-box-shadow: 0px -3px 13px -9px rgb(122, 82, 34);
    box-shadow: 0px -3px 13px -9px rgb(122, 82, 34);
    background-color: rgba(133, 108, 77, 0.61);
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    border-radius: 13px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 9px 16px;
    text-decoration: none;
    text-shadow: 2px 1px 1px #2f6627;
}

#add-item:hover {
   background-color: #91908d98;
}

#add-item:active {
    position: relative;
    top: 1px;
}


#dump-item {
    font-weight: 600;
    padding: 20px;
    border-style: double;
    background-color: rgba(236, 214, 186, 0.61);
    border-radius: 65px 20px 65px 10px;
}

#dump-item-2 {
    font-weight: 600;
    padding: 20px;
    border-style: double;
    background-color: rgba(236, 214, 186, 0.61);
    border-radius: 65px 20px 65px 10px;
}

#location {
    padding: 20px;
    border-style: double;
    background-color: rgba(236, 214, 186, 0.61);
    border-radius: 65px 20px 65px 10px;
}

body {
    border-style: double;
}