#input-text {
    border-style: double;
}

#holder {}

#new-item {
    border-style: double;
}

#input-box {}

#item-form {}

#item-input {}

#add-item {}

#item-input {}

#dump-item {
    border-style: double;
}

#dump-item-2 {
    border-style: double;
}
#location {
     border-style: double;
}

body {
    border-style: double;
}