body {
    background: url("../../assets/images/cut.jpeg");
    font-family: 'Montserrat', sans-serif;
}

#Jumbo {
    color: rgb(96, 204, 212);
    background-color: rgba(20, 20, 20, 0.562);
    font-family: 'Work Sans', sans-serif;
    text-shadow: 3px 0 rgb(1, 8, 8), 0 .5px rgb(0, 3, 3), .5px 0 rgb(1, 5, 5), 0 -1px rgb(3, 21, 26);
    border-top: 1px solid black;
    border-bottom: 3px solid black;
}

#holder {
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
}

#info {
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
}

button.ingredients {
    background-color: rgba(0, 255, 255, 0.411);
    margin: 10px 10px 10px 10px;
    text-shadow: 3px 0 rgb(1, 8, 8), 0 .5px rgb(0, 3, 3), .5px 0 rgb(1, 5, 5), 0 -1px rgb(3, 21, 26);
    color: rgb(233, 233, 233);
    font-weight: 600;
    border: solid;
    padding: 10px;
      border-radius: 65px 20px 65px 10px;
    letter-spacing: 0.0725em;
    box-shadow: 0 10px 20px 0 rgba(250, 250, 250, 0.582), 0 16px 50px 0 rgba(96, 204, 212, 0.637);
}

#button-style {
    border-style: double;
    padding: 10px;
    border-radius: 65px 20px 65px 10px;
    background-color: rgba(20, 20, 20, 0.562);
    color: whitesmoke;
    text-shadow: 3px 0 rgb(1, 8, 8), 0 .5px rgb(0, 3, 3), .5px 0 rgb(1, 5, 5), 0 -1px rgb(3, 21, 26);
    box-shadow: 10px 10px 8px #2020209c;
}

#input-box {}

#item-form {
    margin-top: 10px;
}

#item-input {
    border-radius: 20px;
}

button#clear-button {
    margin-bottom: 10px;
      border-radius: 65px 20px 65px 10px;
    box-shadow: 10px 10px 8px #202020b7;
}

#clear-button {
    -moz-box-shadow: 0px -3px 13px -9px rgb(122, 82, 34);
    -webkit-box-shadow: 0px -3px 13px -9px rgb(122, 82, 34);
    box-shadow: 0px -3px 13px -9px rgb(122, 82, 34);
    background-color: rgba(133, 108, 77, 0.61);
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    border-radius: 13px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 9px 16px;
    text-decoration: none;
    text-shadow: 2px 1px 1px #2f6627;
}

#clear-button:hover {
    background-color: #91908d98;
}

#clear-button:active {
    position: relative;
    top: 1px;
}

input#add-item {
    margin-bottom: 10px;
      border-radius: 65px 20px 65px 10px;
      box-shadow: 10px 10px 8px #202020b7;
}

#add-item {
    -moz-box-shadow: 0px -3px 13px -9px rgb(122, 82, 34);
    -webkit-box-shadow: 0px -3px 13px -9px rgb(122, 82, 34);
    box-shadow: 0px -3px 13px -9px rgb(122, 82, 34);
    background-color: rgba(133, 108, 77, 0.61);
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    border-radius: 13px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 9px 16px;
    text-decoration: none;
    text-shadow: 2px 1px 1px #2f6627;
    box-shadow: black;
}

#add-item:hover {
    background-color: #91908d98;
}

#add-item:active {
    position: relative;
    top: 1px;
}

#dump-item {
    text-align: left;
    font-weight: 600;
    padding: 20px;
    border-style: solid;
    border-radius: 65px 20px 65px 10px;
    background-color: rgba(20, 20, 20, 0.562);
    color: whitesmoke;
    text-shadow: 1px 0 rgb(1, 8, 8), 0 .5px rgb(0, 3, 3), .5px 0 rgb(1, 5, 5), 0 -1px rgb(3, 21, 26);
    box-shadow: 10px 10px 8px #2020209c;
}

#dump-item-2 {
    text-align: left;
    font-weight: 600;
    padding: 20px;
    border-style: solid;
    border-radius: 65px 20px 65px 10px;
    background-color: rgba(236, 214, 186, 0.61);
    box-shadow: 10px 10px 8px #2020209c;
}

#location {
    padding: 20px;
    border-style: double;
    background-color: rgba(0, 255, 255, 0.411);
    border-radius: 65px 20px 65px 10px;
    box-shadow: 10px 10px 8px #2020209c;
}

#title {
    background-color: rgba(0, 255, 255, 0.411);
    border-radius: 65px 10px 65px 10px;
    border-style: solid;
    margin: 5px 0 5px 0;
    box-shadow: 10px 10px 8px #2020209c;
}

body {
    border-style: double;
}

#storesList {
    padding: 20px;
    border-style: double;
    border-radius: 65px 20px 65px 10px;
    background-color: rgba(0, 0, 0, 0.678);
    color: whitesmoke;
    text-shadow: 3px 0 rgb(1, 8, 8), 0 .5px rgb(0, 3, 3), .5px 0 rgb(1, 5, 5), 0 -1px rgb(3, 21, 26);
}

#storelocator {
    border-radius: 20px;
}

input#submit {
    -moz-box-shadow: 0px -3px 13px -9px rgb(122, 82, 34);
    -webkit-box-shadow: 0px -3px 13px -9px rgb(122, 82, 34);
    box-shadow: 0px -3px 13px -9px rgb(122, 82, 34);
    background-color: rgba(133, 108, 77, 0.61);
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
      border-radius: 65px 20px 65px 10px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 9px 16px;
    text-decoration: none;
    text-shadow: 2px 1px 1px #2f6627;
    margin-top: 10px;
    box-shadow: 10px 10px 8px #202020b7;
}

#submit:hover {
    background-color: #91908d98;
}

#submit:active {
    position: relative;
    top: 1px;
}

#closestStores {
    color: whitesmoke;
    text-shadow: 1px 0 rgb(1, 8, 8), 0 1px rgb(0, 0, 0), 1px 1px rgb(1, 5, 5), 0 1px rgb(3, 21, 26);
}

.label-click {
    color: rgba(0, 255, 242, 0.829); 
     text-shadow: 3px 0 rgb(1, 8, 8),
     0 .5px rgb(0, 3, 3),
     .5px 0 rgb(1, 5, 5),
     0 -1px rgb(3, 21, 26);
         cursor: pointer;
  
}
.label-click:hover {
 color: #0026ff;
}

#label:active {
    position: relative;
    top: 1px;
}
#submit-button {
    -moz-box-shadow: 0px -3px 13px -9px rgb(122, 82, 34);
    -webkit-box-shadow: 0px -3px 13px -9px rgb(122, 82, 34);
    box-shadow: 0px -3px 13px -9px rgb(122, 82, 34);
    background-color: rgba(133, 108, 77, 0.61);
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    border-radius: 13px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 9px 16px;
    text-decoration: none;
    text-shadow: 2px 1px 1px #2f6627;
}

#submit-button:hover {
    background-color: #91908d98;
}

#submit-button:active {
    position: relative;
    top: 1px;
}


@media (max-width: 1200px){ 
    .col-sm-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
}

@media (max-width: 1200px) {
    #title {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

